body {
    font-family: Courier, monospace;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #299DB2;
    background-position: center center;
    color: white;
    padding: 10px;
}

#sun1 {
    height: 100px;
    width: 100px;
}

#sun1mini1 {
    height: 30px;
    width: 30px;
    padding-right: 50px;
}

#sun1mini2 {
    height: 30px;
    width: 30px;
    padding-left: 50px;
}

#headerblock {
    display: block;
}

h1 {
    margin: 0;
    padding: 10px;
}

nav {
    background-color: #1AD8FB;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    margin-top: 20px;
}

article {
    border-bottom: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
}

article:last-child {
    border-bottom: none;
}

h2 {
    margin-top: 0;
    padding-left: 10px;
    
}

p {
    line-height: 1.5;
}

button {
    padding: 10px;
    background-color: #A1ECF9;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#HomeWelcome {
    font-size: 32px;
}

#hello {
    font-size: 16px;
    word-wrap: break-word;
}

#mypicture {
    width: 120px;
    height: 150px;
    display: block;
    float: right;
    margin-right: 25px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
    /* text-align: center; */
}

#imageblock {
    display: block;
    float: right;
}

#sun2 {
    display: block;
    float: left;
    height: 100px;
    width: 100px;
    padding-right: 25px;
}

#WelcomeBlock {
    display: block;
    margin-bottom: 45px;
    margin-right: 10px;
    padding-right: 25px;
    text-align: center;
    
}

#WelcomeArticle {
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 20px;
    padding: 20px;
    background-color: #83DAEA;
}

#BMS {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}